.projectWrapper {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: 1fr 80rem 1fr;

  & > * {
    grid-column: 2;
  }

  h1 {
    font-size: 4rem;
  }
}

.featuredImageWrapper {
  width: 60%;
  margin: 0 auto;
}
