.socialBar {
  width: 0;
  height: 38rem;
  border-right: 7.2rem solid rgba(21, 32, 99, 0.7);
  border-top: 9rem solid transparent;
  border-bottom: 9rem solid transparent;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
}

.socialdiv {
  width: 7.2rem;
  height: 20.5rem;
  margin-top: 0.5rem;
  position: relative;
  right: 1px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 20;
}
