.socialBar {
  width: 0;
  height: 29rem;
  border-right: 5.7rem solid var(--color-primary);
  border-top: 7rem solid transparent;
  border-bottom: 7rem solid transparent;
  position: fixed;
  right: 0;
  top: 28vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
}

.socialdiv {
  width: 6.4rem;
  height: 15.5rem;
  margin: 0.3rem 0;
  position: relative;
  right: 0.4rem;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 20;
}
