.socialBar {
  width: 9rem;
  height: 44rem;
  border-right: 9rem solid #3a3034;
  border-top: 10rem solid transparent;
  border-bottom: 10rem solid transparent;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
