:root {
  --dark-grey: #3a3034;
  --light-grey: #edf2f2;
  --color-primary: #7f3d6e;
  --color-primary-value: 127, 61, 110;
  --blue-dark: #283894;
  --blue: #1cefef;
  --blue-white: #f0f8ff;
  --pink: #eb3484;
  --light-pink: #ff568e;
  --orange: #dfba00;
  --box-shadow: 3px 3px 2rem rgba(0, 0, 0, 0.4),
    10px 10px 6rem rgba(0, 0, 0, 0.1);
}

@font-face {
  font-family: "Neutra Text";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/NeutraTextTF-Book.otf");
}

@font-face {
  font-family: "Neutra Text Light";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/NeutraTextTF-Light.otf");
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // So now 1rem = 10px => 10px/16px = 62.5%
}

body {
  box-sizing: border-box;
  font-family: "Neutra Text";
  max-width: 100vw;
}

body::-webkit-scrollbar,
textarea::-webkit-scrollbar {
  background-color: #fff;
  border-radius: 10px;
  width: 16px;
}

body::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track {
  box-shadow: inset 0 0 8px grey;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 8px grey;
  border-radius: 10px;
}

h1 {
  font-family: "Pompiere", "Neutra Text Light", sans-serif;
  font-size: 5.4rem;
}

a {
  text-decoration: none;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.nav-link {
  a {
    display: inline-block;
    color: white;
  }
}

p {
  color: var(--dark-grey);
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in 300ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-out;
}

#hello {
  animation: fade 0.7s ease-in;
}

#developer {
  position: absolute;
  animation: descend 0.9s 0.8s backwards;
}

#welcome {
  animation: borderAppearance duration timing-function delay iteration-count
    direction fill-mode;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
}

@keyframes descend {
  0% {
    transform: translateY(-37px);
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
}

@keyframes borderAppearance {
}
