:root {
  --dark-grey: #3a3034;
  --blue: #1cefef;
  --pink: #e93b74;
  --light-pink: #ff568e;
  --orange: #e39700;
}

@font-face {
  font-family: "Neutra Text";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/NeutraTextTF-Book.otf");
}

@font-face {
  font-family: "Neutra Text Light";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/NeutraTextTF-Light.otf");
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // So now 1rem = 10px => 10px/16px = 62.5%
}

body {
  box-sizing: border-box;
  font-family: "Neutra Text";
  max-width: 100vw;
}

a {
  text-decoration: none;
}

p {
  color: var(--dark-grey);
}

h1 {
  font-family: "Neutra Text Light";
}
