.header {
  min-height: 100vh;
  // background: linear-gradient(to top left, #1e2341, #3b4681);
}

.container {
  margin: 10rem 10rem;
  background-color: lightblue;
  height: 70vh;
  display: flex;
}

.buttonColumn {
  margin: 8rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.contentColumn {
  background-color: lightgoldenrodyellow;
  width: 100%;
}

.eeny {
  height: 88vh;
  display: flex;

  & > div {
    flex: 50%;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;

    & > div {
      width: 45%;
    }

    p {
      font-size: 3.1rem;
      width: 68%;
    }
  }
}

.leftDiv {
  background-color: #b9f3f2;
}

.rightDiv {
  background-color: #f3c7db;
}

.laptop {
  height: 88vh;
  display: flex;

  p {
    font-size: 3.1rem;
    width: 54%;
  }

  & > div {
    flex: 50%;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;

    & > div {
      width: 100%;
      min-height: 100%;
    }
  }
}

.betterWeb {
  min-height: 90vh;
  background: linear-gradient(to bottom right, #1e2341, #3b4681);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    color: #fff;
    font-size: 4rem;
    text-align: center;
  }

  hr {
    width: 80vw;
    border: 1px solid #fff;
    background-color: #fff;
    margin: 7rem 0;
  }
}
