.indexLayout {
  padding: 13rem 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4rem;
  background-color: var(--blue-white);
}

.postLayout {
  height: 100%;
  background: #fff;
  border: 3px solid var(--pink);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  display: grid;
  grid-template-columns: 16rem 1fr;
  grid-template-rows: max-content 1fr;
  grid-column-gap: 3rem;
  padding: 2rem;
  transition: all 0.25s ease-out;

  &:hover {
    transform: translatey(1px);
    box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.4);
  }

  h3 {
    color: var(--dark-grey);
    font-size: 2.7rem;
    margin-bottom: 1.5rem;
    font-family: "Lora";
    font-weight: 700;
    grid-column: 2;

    a {
      color: rgb(85, 26, 139);
    }
  }

  .createdAt {
    font-size: 1.8rem;
    color: #777;
    margin-bottom: 1rem;
  }

  p {
    font-size: 2rem;
    color: #152063;
  }
}

.featuredImage {
  border-radius: 5px;
  overflow: hidden;
  grid-row: 1 / -1;

  & > div {
    height: 100%;
  }
}

.contentBox {
  align-self: center;
}
