.formContainer {
  padding: 10rem;
  min-height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

.overlay {
  background-color: rgba(rgb(58, 48, 52), 0.85);
  min-width: 70vw;
  min-height: 26vw;
  padding: 5rem;
  border-radius: 0.6rem;
  box-shadow: var(--box-shadow);

  h1 {
    margin-bottom: 3rem;
    color: #fff;
  }

  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    grid-row-gap: 2rem;
    grid-column-gap: 10rem;

    button {
      background-color: var(--pink);
      padding: 1rem 4.8rem;
      border: none;
      border-radius: 0.6rem;
      color: white;
      font-family: inherit;
      font-size: 2.4rem;
      cursor: pointer;
    }
  }
}

.Input {
  grid-column: 2;

  input {
    width: 100%;
    font-size: 2rem;
    font-family: inherit;
    color: inherit;
    padding: 1rem 2rem;
    border-radius: 0.6rem;
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    /* When top input is focused, the 3px border that's created pushes the bottom input down, so we put in an
        invisible border on the initial state to stop this from happening */
    border-bottom: 3px solid transparent;
  }
}

.Textarea {
  grid-row: 1 / -1;
  grid-column: 1;

  textarea {
    min-width: 100%;
    font-size: 2rem;
    font-family: inherit;
    color: inherit;
    padding: 1rem 2rem;
    border-radius: 0.6rem;
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    resize: none;
  }
}

.buttonP {
  grid-column: 2;
  align-self: end;
  justify-self: center;
}
