.background {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, #e6e602, #e6bf02 40%, #e39700);
  position: relative;
  top: -12rem;
  left: 0;
  z-index: -500;
}

.polygon {
  background: url("../assets/pink-polygon.svg");
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 55%;
  top: -48px;
  left: 0px;
  z-index: 1;
}
