.Background {
  height: 100vh;
  width: 100%;
  position: relative;
  padding: 10%;
  display: block;

  p {
    font-size: 2.5rem;

    .Hello {
      display: block;
      font-size: 4rem;
    }

    .Developer {
    }
  }
  .Explore {
    float: right;
  }

  h1 {
    display: block;
    text-align: center;
    margin: 10%;
  }
}
