.main {
  padding: 15rem 13rem;
  background: linear-gradient(to bottom right, #3b4681, #1e2341);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 7rem;
  align-items: center;

  h1 {
    margin-top: 5rem;
    margin-bottom: 3rem;
    grid-column: 1 / -1;
  }
}
