.layout {
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 500;
    padding: 1.3rem 6.2rem 4.8rem;
    background-color: #974982;
    transition: top 0.3s;
    height: 6rem;
  }
  ul {
    list-style: none;
    float: right;
    display: flex;
    justify-content: space-between;
    width: 32%;
    margin-right: 3rem;
    font-size: 2.2rem;
    font-family: "Neutra Text";

    li a {
      transition: all 0.3s;
    }

    li:hover a {
      color: var(--blue);
    }
  }
  footer {
    background-color: #974982;
    text-align: center;
    font-size: 2rem;
    font-family: "Neutra Text Light";
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
      color: #ffffff;
    }
  }
}
.homeLink {
  color: white;
  font-size: 2.2rem;
  font-family: "Neutra Text", sans-serif;
  transition: all 0.3s;

  &:hover {
    color: var(--blue);
  }
}
