.layout {
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 6.2rem;
    z-index: 500;
    background-color: #fff;
    transition: top 0.3s;
    height: 5.8rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  }
  ul {
    list-style: none;
    float: right;
    display: flex;
    justify-content: space-between;
    height: 100%;
    font-size: 2.1rem;
    font-family: "Neutra Text";

    li {
      height: 100%;
      display: table;
    }

    li a {
      height: 100%;
      padding: 0 2.1rem;
      vertical-align: middle;
      display: table-cell;
      transition: 0.3s;
      transition: all 0.3s;
    }

    li:hover {
      a {
        background-color: #f1f1f1;
        color: var(--pink);
      }
    }
  }

  footer {
    background-color: #fff;
    text-align: center;
    font-size: 2rem;
    font-family: "Neutra Text Light";
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.2);
    z-index: 400;
    position: relative;

    p {
      color: var(--dark-grey);
    }
  }
}

.homeLink {
  color: var(--dark-grey);
  display: inline-table;
  height: 100%;
  padding: 0 1.5rem;
  font-size: 2.2rem;
  font-family: "Neutra Text", sans-serif;
  transition: all 0.3s;

  &:hover {
    background-color: #f1f1f1;
    color: var(--pink);
    cursor: pointer;
  }

  a {
    color: inherit;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
  }
}

@media (max-width: 470px) {
  .layout nav {
    padding: 0 2.2rem;
    ul {
      display: none;
    }
  }

  .homeLink {
    display: none;
  }
}
