.layout {
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 500;
    padding: 0.8rem 6.2rem;
    transition: top 0.3s;
    background-color: rgba(58, 48, 52, 0.85);
    height: 5.2rem;
  }
  ul {
    list-style: none;
    float: right;
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin-right: 3rem;
    font-size: 2.5rem;
    font-family: "Neutra Text Light";

    li:hover a {
      color: var(--pink);
    }
  }
  footer {
    background-color: var(--dark-grey);
    text-align: center;
    font-size: 2rem;
    font-family: "Neutra Text Light";
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
      color: #c9c9c9;
    }
  }
}
