.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}

.image {
  margin-right: 4.2rem;
  width: 37%;

  img {
    border-radius: 5px;
  }

  p {
    margin-top: 1.5rem;
    text-align: center;
  }
}

.text {
  width: 50%;
}

@media (max-width: 850px) {
  .text {
    line-height: 1.1;
    p:not(:last-of-type) {
      margin-bottom: 1.2rem;
    }
  }
}
